{
  "base_url": "https://api-eu.sigencloud.com",
  "app_key": "YOUR_APP_KEY_HERE",
  "app_secret": "YOUR_APP_SECRET_HERE",
  "username": "YOUR_EMAIL_HERE",
  "password": "YOUR_PASSWORD_HERE",
  "system_id": "YOUR_SYSTEM_ID_HERE"
}
