{
  "base_url": "https://api-eu.sigencloud.com",
  "app_key": "YOUR_SIGENERGY_APP_KEY_HERE",
  "app_secret": "YOUR_SIGENERGY_APP_SECRET_HERE",
  "username": "YOUR_SIGENERGY_USERNAME_HERE",
  "password": "YOUR_SIGENERGY_PASSWORD_HERE"
}
