{
  "base_url": "https://api-eu.sigencloud.com",
  "username": "YOUR_EMAIL_HERE",
  "password": "YOUR_PASSWORD_HERE",
  "system_id": "YOUR_SYSTEM_ID_HERE",
  "app_key": "YOUR_READ_ONLY_APP_KEY_HERE",
  "app_secret": "YOUR_READ_ONLY_APP_SECRET_HERE",
  "rw_app_key": "YOUR_READ_WRITE_APP_KEY_HERE",
  "rw_app_secret": "YOUR_READ_WRITE_APP_SECRET_HERE",
  "debug_modbus": false,
  "inverter_ip": "YOUR_INVERTER_IP_HERE",
  "inverter_port": 502,
  "debug_inverter_ip": "127.0.0.1",
  "debug_inverter_port": 5020
}
